# This is an example of a unifi controller
# The file name must be end with .conf

username=admin
password=password
baseurl=https://example:8443

# Sites are new features of Unifi Controller >= 3.0, if you have previous version don't touch
# If you have multiples sites you can use SITES="defualt siteA siteB" ...
# Sitenames can't contains space
SITES="default"

UNIFI_VERSION=3.2.10
UNIFI_HOSTNAME=example


KEEP_BACKUP=10 # Number of stored copies
